body, a {
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;*/
    font-family: Cerebri Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.account-body.accountbg {
    /*background-image: url(../images/move_forward_lines.svg);*/
    background-image: url(../images/move_forward_lines.svg), linear-gradient(to right, #00f18d, #008850) !important;
    /*background-image: url(../images/move_forward_lines.svg), linear-gradient(to right, #00c171, #007c49) !important;*/
}

/*.d-grid .btn-spinner {*/
/*    display: inline-block !important;*/
/*}*/
.card {
    /*border: 1px solid rgba(0,0,0,0.125);*/
    border: none !important;
    border-radius: 0.6rem !important;
    box-shadow: 0 3px 12px #d6e4f1;
}

.auth-main .card {
    box-shadow: none;
}

.footer {
    padding: 10px 8px 10px 8px;
    height: 55px;
}

.account-body .auth-header-box {
    background-color: #0c213a;
    border-radius: 0.6rem 0.6rem 0 0 !important;
}

.pincode-input-container input.mid {
    border-left-width: 0 !important;
}

.pincode-input-container input.last {
    border-left-width: 0 !important;
}

.select2-dropdown {
    border: 1px solid #abc5e8 !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: none !important;
}


.form-control {
    line-height: 2 !important;
    color: #303e67;
    border: 1px solid #abc5e8 !important;
    /*border: 1px solid rgba(30, 130, 76, .5) !important;*/
    border-radius: 4px !important;
}

.form-control:focus {
    color: #303e67;
    /*border: 1px solid rgba(30, 130, 76, .7) !important;*/
    border: 1px solid #71aeff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(33 150 243 / 36%);
}

.is-invalid .invalid-feedback {
    display: block;
}

.phone .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.select2-container--default .select2-selection--single {
    border: 1px solid #abc5e8 !important;
    height: 40px;
}

.phone .select2-container--default .select2-selection--single {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.pincode-input-container input.first {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.pincode-input-container input.last {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.pincode-input-container > .form-control {
    display: initial !important;
    border-radius: .0rem !important;
    text-align: center;
    line-height: 2.5 !important;
    font-size: 20px;
}

.pincode-input-container > .form-control:focus {
    box-shadow: none !important;
}


.b-round-sm {
    border-radius: 20px !important;
}

.alert.icon-custom-alert {
    padding: 10px 18px !important;
}


.btn-spinner,
.btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.btn-spinner {
    /*margin-right: 10px !important;*/
    display: inline-block;
    top: 2.4px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.btn-success {
    color: #fff;
    background-color: #03b86c;
    border-color: #02ad66;
    /*font-size: 14px;*/
    font-weight: 500;
}

.btn-success:hover {
    color: #fff;
    background-color: #03d87f;
    border-color: #03d87f;
}

.swal2-styled {
    margin: .3125em;
    padding: .4em 2em !important;
    box-shadow: none;
    font-weight: 400;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #03d87f !important;
    color: #fff;
    font-size: 0.9em;
}



.swal2-content {
    /*color: #0c213a;*/
    font-size: .85em !important;
}

.swal2-popup .swal2-title {
    font-size: 22px !important;
}


.thumb-xs {
    height: 30px !important;
    width: 30px !important;
    font-size: 10px;
    font-weight: 700;
}

.left-sidenav {
    min-width: 300px;
    max-width: 300px;
}

.page-wrapper {

    margin-left: 300px;
}

.left-sidenav .brand .logo .logo-lg {
    height: 44px;
}

.left-sidenav .brand a {
    color: #ffffff;
}

body.dark-sidenav .left-sidenav h5 {
    color: #4caf50;
}

.float-right {
    float: right;
}

.notification-msg {
    border-radius: 8px;
    padding: 10px 16px 16px 16px;
    position: relative;
    background-color: rgba(137, 151, 189, 0.1);
}

.wallet-left-item {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 16px 10px 16px;
    position: relative;
    background-color: rgba(137, 151, 189, 0.06);

}

.left-sidenav-menu li > a .menu-icon {
    margin-right: 10px;
}

body.dark-sidenav .left-sidenav-menu li > a.active {
    color: #03d87f;
}

.left-sidenav-menu li > a.active .menu-icon {
    color: #03d87f;
}

.topbar {
    position: fixed;
    z-index: 1001;
    width: calc(100vw - 300px);
}

.enlarge-menu .page-wrapper .topbar {
    width: 100vw
}

.table th {
    /*color: #366aff;*/
    /*color: #678eff;*/
    font-size: .8325rem;
    font-weight: 700;
}

.table > :not(caption) > * > * {
    padding: .8rem .3rem;
}

.pagination {
    margin: 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.page-item.active .page-link {
    z-index: 3;
    color: #0052ff;
    background-color: rgba(23, 97, 253, 0.1);
    border-color: rgba(23, 97, 253, 0.1);
}

.app-main .card {
    margin-bottom: 16px;
    background-color: #fff;
    /*border: 1px solid #e3ebf6 !important;*/
    /*border: 1px solid #cbe0fd !important;*/
}

.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #cbe0fd !important;
}


.app-main .card .card-header:first-child {
    border-radius: 0.6rem 0.6rem 0 0 !important;
}

.actionbar {
    background: #fff;
    min-height: 52px;
    top: 53px;
    position: sticky;
    z-index: 1020;
    /*padding: 3px 20px 0 20px;*/
    padding: 3px 0 0 0;
    border-bottom: 1px solid #e3ebf6;
}

.page-wrapper .page-content {
    margin-top: 53px;
    padding: 0 0 52px 0;
    background-color: #f1f5f9;
}

.page-content .list-section {
    height: calc(100vh - 52px - 2px - 106px);
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 3px 12px #d6e4f1;
}



[x-cloak] {
    display: none !important;
}

@media (max-width: 1024px) {

    .left-sidenav {
        min-width: calc(100vw - 50px);
        max-width: calc(100vw - 50px);
        top: 52px;
        z-index: 1050;
    }

    .page-wrapper {
        left: calc(100vw - 52px) !important;
        margin-left: 0;
    }

    .topbar {
        position: fixed;
        z-index: 1001;
        width: 100%;
    }
}
