body, a {
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;*/
    font-family: Cerebri Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;

}

.account-body.accountbg {
    /*background-image: url(../images/move_forward_lines.svg);*/
    background-image: url(../images/move_forward_lines.svg), linear-gradient(to right, #00f18d, #008850) !important;
    /*background-image: url(../images/move_forward_lines.svg), linear-gradient(to right, #00c171, #007c49) !important;*/
}

/*.d-grid .btn-spinner {*/
/*    display: inline-block !important;*/
/*}*/
.card {
    /*border: 1px solid rgba(0,0,0,0.125);*/
    border: none !important;
    border-radius: 0.6rem !important;
    box-shadow: 0 3px 12px #d6e4f1;
}

.card-alt {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .6rem !important;
    border-bottom-left-radius: .6rem !important;
}

.accordion-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.accordion-item:last-of-type .accordion-button.collapsed, .list-group.custom-list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .6rem !important;
    border-bottom-left-radius: .6rem !important;
}

.accordion-item:first-of-type {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top: 0 !important;
}

.dropdown-item {
    padding: 6px 15px !important;
}

label {
    font-weight: 400;
    font-size: 12px;
}

.list-group-item {
    padding: 1.3rem 1rem;
}

.list-group.custom-list-group > .list-group-item {
    padding-left: 20px !important;
    padding-right: 10px !important;
}

.toast {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%) !important;
    border-radius: .35rem;
    font-size: .78rem;
}

.toast-body {
    background-color: #f7f7f7 !important;
    border-bottom-left-radius: .35rem;
    border-bottom-right-radius: .35rem;
}

.toast-header {
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}

.auth-main .card {
    box-shadow: none;
}

.footer {
    padding: 10px 8px 10px 8px;
    height: 55px;
}

.account-body .auth-header-box {
    background-color: #0c213a;
    border-radius: 0.6rem 0.6rem 0 0 !important;
}

.pincode-input-container input.mid {
    border-left-width: 0 !important;
}

.pincode-input-container input.last {
    border-left-width: 0 !important;
}

.select2-dropdown {
    border: 1px solid #abc5e8 !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: none !important;
}


.form-control {
    line-height: 2 !important;
    color: #303e67;
    border: 1px solid #abc5e8 !important;
    /*border: 1px solid rgba(30, 130, 76, .5) !important;*/
    border-radius: 4px !important;
}

small {
    line-height: 1.2 !important;
}

.form-control:focus {
    color: #303e67;
    /*border: 1px solid rgba(30, 130, 76, .7) !important;*/
    border: 1px solid #71aeff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(33 150 243 / 36%);
}

.is-invalid .invalid-feedback {
    display: block;
}

.phone .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.select2-container--default .select2-selection--single {
    border: 1px solid #abc5e8 !important;
    height: 40px;
}

.phone .select2-container--default .select2-selection--single {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.pincode-input-container input.first {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.pincode-input-container input.last {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.pincode-input-container > .form-control {
    display: initial !important;
    border-radius: .0rem !important;
    text-align: center;
    line-height: 2.5 !important;
    font-size: 20px;
}

.pincode-input-container > .form-control:focus {
    box-shadow: none !important;
}


.b-round-sm {
    border-radius: 20px !important;
}

.alert.icon-custom-alert {
    padding: 10px 18px !important;
}


.btn-spinner,
.btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.loading-spinner,
.loading-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.loading-spinner {
    display: inline-block;
    top: 2.4px;
    font-size: 34px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid #d24444;
    border-right: 0.2em solid #ca2222;
    border-bottom: 0.2em solid #9a1717;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

.btn-spinner {
    /*margin-right: 10px !important;*/
    display: inline-block;
    top: 2.4px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

.btn-spinner-soft-danger {
    border-top: 0.2em solid #f5325c !important;
    border-right: 0.2em solid #f5325c !important;
    border-bottom: 0.2em solid #f5325c !important;
}

.btn-spinner-soft-success {
    border-top: 0.2em solid #03b86c !important;
    border-right: 0.2em solid #03b86c !important;
    border-bottom: 0.2em solid #03b86c !important;
}

.btn-spinner-soft-primary {
    border-top: 0.2em solid #1761fd !important;
    border-right: 0.2em solid #1761fd !important;
    border-bottom: 0.2em solid #1761fd !important;
}

.btn-spinner-soft-info {
    border-top: 0.2em solid #12a4ed !important;
    border-right: 0.2em solid #12a4ed !important;
    border-bottom: 0.2em solid #12a4ed !important;
}

.btn-spinner-soft-warning {
    border-top: 0.2em solid #ffb822 !important;
    border-right: 0.2em solid #ffb822 !important;
    border-bottom: 0.2em solid #ffb822 !important;
}

.btn-spinner-soft-secondary {
    border-top: 0.2em solid #9ba7ca !important;
    border-right: 0.2em solid #9ba7ca !important;
    border-bottom: 0.2em solid #9ba7ca !important;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.btn-success {
    color: #fff;
    background-color: #03b86c;
    border-color: #02ad66;
    /*font-size: 14px;*/
    font-weight: 500;
}

.btn-success:hover {
    color: #fff;
    background-color: #03b86c;
    border-color: #03b86c;
}

.swal2-styled {
    margin: .3125em;
    padding: .4em 2em !important;
    box-shadow: none;
    font-weight: 400;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    /*background-color: #03b86c !important;*/
    /*color: #fff;*/
    background-color: rgba(3, 216, 127, 0.1);
    color: #03b86c;
    font-size: .8125rem;
}

.swal2-popup .swal2-styled.swal2-confirm:hover {
    background-color: #03b86c;
    color: #fff;
}


.swal2-popup .swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    /*background-color: #f5325c;*/
    /*color: #fff;*/
    background-color: rgba(245, 50, 92, 0.1);
    color: #f5325c;
    font-size: .8125rem;
}


.swal2-content {
    /*color: #0c213a;*/
    font-size: .85em !important;
}

.swal2-popup .swal2-title {
    font-size: 22px !important;
}


.thumb-xs {
    height: 30px !important;
    width: 30px !important;
    font-size: 10px;
    font-weight: 700;
}

.left-sidenav {
    min-width: 300px;
    max-width: 300px;
}

.page-wrapper {

    margin-left: 300px;
}

.left-sidenav .brand .logo .logo-lg {
    height: 44px;
}

.left-sidenav .brand a {
    color: #ffffff;
}

body.dark-sidenav .left-sidenav h5 {
    color: #4caf50;
}

.float-right {
    float: right;
}

.notification-msg {
    border-radius: 8px;
    padding: 10px 16px 16px 16px;
    position: relative;
    background-color: rgba(137, 151, 189, 0.1);
}

.wallet-left-item {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 16px 10px 16px;
    position: relative;
    background-color: rgba(137, 151, 189, 0.06);

}

.wallet-main {
    margin: 5px 5px 10px 5px;
    background-color: rgba(137, 151, 189, 0.1);
}

.left-sidenav-menu li > a .menu-icon {
    margin-right: 10px;
}

body.dark-sidenav .left-sidenav-menu li > a.active {
    color: #03b86c;
}

.left-sidenav-menu li > a.active .menu-icon {
    color: #03b86c;
}

.btn-soft-warning {
    background-color: rgba(255, 184, 34, 0.18);
    color: #ca8900;
}

.topbar {
    position: fixed;
    z-index: 1001;
    width: calc(100vw - 300px);
}

.enlarge-menu .page-wrapper .topbar {
    width: 100vw
}

.table th {
    /*color: #366aff;*/
    /*color: #678eff;*/
    font-size: .8325rem;
    font-weight: 700;
}

.table td {
    font-size: 12px;
}

.table > :not(caption) > * > * {
    padding: .8rem .3rem;
}

.pagination {
    margin: 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.page-item.active .page-link {
    z-index: 3;
    color: #0052ff;
    background-color: rgba(23, 97, 253, 0.1);
    border-color: rgba(23, 97, 253, 0.1);
}

.app-main .card {
    margin-bottom: 16px;
    background-color: #fff;
    /*border: 1px solid #e3ebf6 !important;*/
    /*border: 1px solid #cbe0fd !important;*/
}

.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #cbe0fd !important;
}


.app-main .card .card-header:first-child {
    border-radius: 0.6rem 0.6rem 0 0 !important;
}

.actionbar {
    background: #fff;
    min-height: 52px;
    top: 52px;
    position: sticky;
    z-index: 1020;
    /*padding: 3px 20px 0 20px;*/
    padding: 3px 0 0 0;
    border-bottom: 1px solid #e3ebf6;
    /*box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%), inset 0 -1px 0 rgb(214 228 241 / 15%);*/
    box-shadow: 0 3px 14px -3px rgb(0 0 0 / 10%);
}


.filter-no-hover:hover, .filter-no-hover:focus {
    background-color: rgba(29, 44, 72, 0.1) !important;
    box-shadow: none;
    color: #1d2c48 !important;
}

.ttlr_inline {
    display: none;
}

iframe {
    background-color: #3c3c3cb5 !important;
}

.page-wrapper .page-content {
    margin-top: 53px;
    padding: 0 0 52px 0;
    background-color: #f1f5f9;
}

.page-content .list-section {
    height: calc(100vh - 52px - 2px - 106px);
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 3px 12px #d6e4f1;
}


[x-cloak] {
    display: none !important;
}

.activity-card {
    height: 450px;
}

.search-group {
    margin-bottom: 0 !important;
}

.invalid-feedback {
    display: block !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media (max-width: 1024px) {
    .activity-card {
        height: 350px;
    }

    .left-sidenav {
        min-width: calc(100vw - 50px);
        max-width: calc(100vw - 50px);
        top: 52px;
        z-index: 1050;
    }

    .search-group {
        margin-bottom: 10px !important;
    }

    .page-wrapper {
        left: calc(100vw - 52px) !important;
        margin-left: 0;
    }

    .topbar {
        position: fixed;
        z-index: 1001;
        width: 100%;
    }

    .actionbar {
        /*padding: 3px 0 10px 0 !important;*/
    }
}


